<!DOCTYPE html >
<html lang="en">
<head>
    <title>优惠券实时更新 | 最新最全的淘宝天猫店铺优惠券信息</title>
    
    
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/coupon.css" />  
    
    

<body>

    <div class="top">
        <div class="two">
            <div class="collect">
                <span>请按键盘&nbsp;<img style="position:relative;top:5px;" src="__ROOT__/Public/png/collect_ico.png">&nbsp;把本站加入收藏夹</span>&nbsp;&nbsp;&nbsp;本站现在处于开发测试阶段，部分功能失效，请谅解
            </div>
        </div>
    </div>
    <div class="head">
        <div class="header">
            <div class="logobock">
                <img src=__ROOT__/Public/png/log.png />
            </div>
            <div class="searchbock">
                <form action="__APP__/Home/Index/sousuo" method="post" id="search" class="search">
                    <input type="text" name="s" class="search_table" value={$biaoti}  placeholder="粘贴宝贝标题或输入关键词找优惠券" />
                    <input type="submit" class="searchbtn" value="搜索" />
                </form>

                <ul class="hotword">
                    <li class="word">风扇</li>
                    <li class="word">电灯</li>
                    <li class="word">上衣</li>
                    <li class="word">裤子</li>
                    <li class="word">夏凉被</li>

                    <li class="word">零食</li>
                </ul>
            </div>
            <div class="or">
                <span class="orcode">微信扫码更方便</span>
                <img class="code" src="__ROOT__/Public/png/ma.jpg">
            </div>
            
        </div>
    </div>
  
    <div class="meizhaodaoyi">
        <div class="meizhaodaoer">
            <div class="meizhaodaosan">
                <div class="meizhaodaosi">
                    <p>亲 ，你找的宝贝没有！再试试</p>
                    <!-- <a href="javascript:void(0);">返回上一步</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <ul>
            <li class="cr"> | © 2017 ganggang</li>
            <li class="cr"> | ICP备案：豫ICP备17003772号-1</li>
            <li ></li>    
            <li ></li>    
            <li></li>
        </ul>>
        
    </div>
 
    






</body>
</html>

